ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

li {
  /* display: inline-block; */
  padding: 10px 60px;
  text-decoration: none;
}
.nl {
  color: rgb(11, 10, 10);
  text-decoration: none;
  /* display: block; */
  padding: 10px;
}

.nl:hover {
  background-color: #42b881;
  text-decoration: none;
  border-radius: 2%;
}

hr {
  color: black;
  border: solid;
}

@media (max-width: 576px) {
  li {
    padding: 0;
  }
  .inicio {
    display: flex;
    flex-direction: column;
  }
}
